APP_NAME="SaaS Turnos Testing"
APP_ENV=testing
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=America/Argentina/Buenos_Aires
APP_URL=http://localhost

DB_CONNECTION=pgsql
DB_HOST=database
DB_PORT=5432
DB_DATABASE=saas_testing
DB_USERNAME=saas_user
DB_PASSWORD=saas_pass

SESSION_DRIVER=array
CACHE_STORE=array
QUEUE_CONNECTION=sync
MAIL_MAILER=array
REDIS_HOST=cache
REDIS_PORT=6379
